.confirmacion-mensaje {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.confirmacion-mensaje h1 {
    color: #fff; /
}
.btn-volver {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #9b0e0e;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}